* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(231, 231, 231);
}

.text {
    margin: 20px;
    text-align: center;
    justify-content: center;
    padding: 20px;
}
h1 span {
    color: rgb(6, 155, 6);
}

.card-container {
    justify-content: center;
    margin: 50px ;
    text-align: center;
}
 .head-content {
    margin: 20px;
    padding: 20px;
    text-align: center;
    justify-content: center;
 }
.head-content p{
    margin: 16px 0;
    padding-top: 20px;
}

.head-content img {
    /* margin: 20px; */
    height: 10%;
    width: 70%;
    padding: 20px;
}
.container-here {
    margin: 32px ;
    padding: 20px;
}

a h2 {
    color: black;    
}

a {
    text-decoration: none;
}

.container-here h3 a{
    color: rgb(6, 155, 6);
    padding: 0px;
}
.section-top {
    padding: 32px;
    margin: 32px;
}

.zoulu-container {
    margin: 20px;
    padding: 32px;
    text-align: center;
    justify-content: center;
}

.style {
   margin: 52px;
   text-align: center;
   justify-content: center;
   width: 90%;
    background: rgb(14, 14, 83);    
    
}

.playstore {
    position: relative;
    padding-right: 20px;
    margin-bottom: 20px;
    border: 20px;
}

.text-center {
    margin: 20px;
    padding: 32px;
    display: flex;
    text-align: center;
    justify-content: center;
    height: 50%;
}

.button-btn {
    position: absolute;
    top: 87%;
    right: 58%;    
}   


.form-container h1 {
    background-color: rgb(5, 9, 41);
    width: 100%;
    padding:32px;
    color: aliceblue;
}

.form-container h1 span {
    font-weight: 100;
    font-size: 20px;
}

.form-control {
    background-color: rgb(244, 250, 255);
}
.form-control h2 {
    margin: 20px;
    
}

.form-container h1 p {
    font-weight: 100;
    font-size: 15px;
}

.box {
    /* margin: 52px 0; */
    background-color: rgb(207, 100, 100);
    /* /* height: 100%; */
    
    
}

.form-center {
    background-color: rgb(76, 78, 94);
    width: 100%;
    padding:32px;
    color: aliceblue;
    text-align: center;

}

.ctr button {
  align-items: center;
  justify-content: center;
  text-align: center;
    border-radius: 50px;
    margin-left: 47%;
    margin-top: 20px;
    padding-top: 30px;
    padding-bottom: 30px;
}


.your-application {
    padding: 42px;
}

